
%script{:type => 'text/javascript', :src => 'libs/jquery.json-2.2.min.js'}

// Datepick
%script{:type => 'text/javascript', :src => 'libs/datepick/jquery.datepick.min.js'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => 'libs/datepick/jquery.datepick.css'}
%script{:type => 'text/javascript', :src => 'libs/datepick/jquery.datepick-ru.js'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => 'libs/datepick/smoothness.datepick.css'}

%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/main.css'}

%script{:type => 'text/javascript', :src => 'js/remote.js'}
%script{:type => 'text/javascript', :src => 'js/main.js'}

%script{:type => 'text/javascript', :src => 'js/widgets/main-menu.js'}
%script{:type => 'text/javascript', :src => 'js/widgets/datefield.js'}
%script{:type => 'text/javascript', :src => 'js/widgets/dictionary-grid-columns.js'}
%script{:type => 'text/javascript', :src => 'js/widgets/dictionary-grid.js'}

%script{:type => 'text/javascript', :src => 'js/dialogs/edit-patient-dialog.js'}
%script{:type => 'text/javascript', :src => 'js/dialogs/patient-analyses-dialog.js'}
%script{:type => 'text/javascript', :src => 'js/dialogs/analyses-dialog.js'}
%script{:type => 'text/javascript', :src => 'js/dialogs/drugs-dialog.js'}


%script{:type => 'text/javascript', :src => 'js/pages/patients-page.js'}


%body
