%script
  var Globals = {error: "#{@error_message}"};

%script{:type => 'text/javascript', :src => 'js/login.js'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/login.css'}
    
%body
